<!DOCTYPE html>
<html>

<head>
    <!-- Meta Dependecies -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Eric Willard</title>

    <!-- Favicon link -->
    <link rel="icon" type="image/ico" href="../Images/ewillicon3.png">
    
    <!-- Material Design Bootstrap -->
    <link href="/MDB/css/mdb.min.css" type='text/css' rel="stylesheet">
    <link rel='stylesheet' id='compiled.css-css' href='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled.min.css?ver=4.4.0'
        type='text/css' media='all' />

    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    
    <!-- Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!--FontAwesome Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
       
    <!-- Handlebars -->
    <script rel="stylesheet" type="text/hbs" src="/views/home.hbs"></script>
    <script rel="stylesheet" type="text/hbs" src="/views/popDestinations.hbs"></script>

    <!-- Ajax CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    
    <!-- Javascript files -->
    <script rel="stylesheet" src="/js/app.js" type="text/javascript"></script>

</head>

<body>

{{{body}}}


    
    

</body>

</html>