<!--Start Nav-->
    <nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl blue-gradient-rgba">
        <a class="navbar-brand" href="/homeFR">Eric Willard</a>

        <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn btn-danger dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nav sur le Site
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortFR">Projets</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceFR">Expériences Professionelles</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationFR">Éducation</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoFR">La Photographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsFR">Compétences</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoFR">Vidéo</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contact"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contactDE"><span class="flag-icon flag-icon-de"></span></a>
        </li>
    </ul>
        <!-- Links -->
        <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-home" href="/homeFR"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactFR"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-book" href="/aboutFR"></a>
        </li>
    </ul>

    </nav>
    <!--End Navbar-->

    <!--Bio Section-->
    <div class="container-fluid">
        <div class="row main-content">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-5 col-lg-offset-1">
                <div class="panel panel-default" style="background-color: white; border: solid lightgray 1px;">
                    <div class="panel panel-header">Bio<i class="glyphicon glyphicon-user"></i>
                    </div>


                    <div class="panel panel-body">
                        <img class="img-responsive" id="mainSelfie" src="Images/FranceMeIrelandRV.jpg">
                        <p>
                            I am originally from Topeka, Kansas, but it hasn't been "home" for quite some time. From '04-'14 I lived in the Los Angeles & San Diego areas working and attending university. During school, and post graduation, I have lived in Berlin, Paris, and Hangzhou, China. I returned to Kansas in December '16 and subsequently returned to China in order to spend a year teaching web development in English to software engineering students. </p>

                        <p>
                            Two of my passions in life are traveling and design. Photography plays a large role in my creative life, and I feel that design is a major avenue in which I can utilize and express my creativity. Web design and the basic ability to create something from nothing inspires me greatly.
                        </p>
                        <p>
                            During my time abroad I managed to visit 24 different countries
                            and 50 major cities. I can speak French and German with relative proficiency and I am currently working to improve my Chinese. I became more serious about photography after my study abroad program
                            in 2011, and I believe it has expanded my skills of creativity in the process. I have advanced my skills through practice and perseverance
                            and have won several awards for my work. Design in a broad sense is something that not only inspires me, but pushes me to always be thinking of new ways, methods, and insights into my own creativity that I never knew existed before. </p>

                    </div>
                </div>
            </div>
            <!--End Bio Section-->

            <!--Connect Panel-->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
                <!--Education Section-->
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Education<i class="glyphicon glyphicon-education"></i>
                    </div>
                    <div class="panel panel-body" id="education">
                        <ul class="list-inline">
                            <li class="list-inline-item" id="KU">
                                <h4 id="KUTitle">The University of Kansas</h4>

                                Coding Boot Camp - Full-Stack Web Development
                                <br />
                                June 2017 - May 2018
                            </li>
                            <br />
                            <li class="list-inline-item" id="UCSD">
                                <h4 id="UCSDTitle">The University of California, San Diego</h4>

                                B.S. Political Science (Minor - International Relations)
                                <br />
                                September 2012 - August 2014
                            </li>
                            <br />
                            <li class="list-inline-item" id="FullColl">
                                <h4 id="FullCollTitle">Fullerton College</h4>

                                A.A. Film/Radio/Television
                                <br />
                                January 2009 - May 2012
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Education Section-->

                <!--Beginning Experience-->
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Experience<i class="glyphicon glyphicon-ok"></i>
                    </div>
                    <div class="panel panel-body" id="education">
                        <ul class="list-inline">
                            <li class="list-inline-item" id="KU">
                                <h4 id="KUTitle">Zhejiang University of Technology (浙江工业大学）</h4>

                                University Professor - Web Design
                                <br />
                                June 2018 - June 2019
                                <br />
                                I formulated, implemented, and managed my own curriculum covering the basics of HTML5, CSS3, Javascript, and JQuery in the English language. My students were majoring in software engineering and thusly it was important for them to acquire essential language skills in both coding and communication.
                            </li>
                            <br />
                            <li class="list-inline-item" id="UCSD">
                                <h4 id="UCSDTitle">Kansas University</h4>

                                48 Week Full-Stack Coding Bootcamp
                                <br />
                                June 2017 - May 2018
                                <br />
                                During the course of the program we studied, utilized, and developed essential elements of of websites as well as entire websites based on those elements. The program was comprehensive and progressive so that we learned the basic building blocks of a website then worked our way up to building entire websites utilizing all of those elements working collaboratively.
                            </li>
                            <br />
                            <li class="list-inline-item" id="FullColl">
                                <h4 id="FullCollTitle">Fullerton College</h4>

                                2011 Berlin Study Abroad Program Promotional Video
                                <br />
                                Spring 2011
                                <br />

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default" style="height: -webkit-fill-available;">
                    <div class="panel panel-header">
                        Web Development<i class="glyphicon glyphicon-link"></i>
                    </div>
                    <div class="panel panel-body" id="codingLanguages">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h4 id="codingLanguagesHeader">Coding Languages/Skills</h4>
                                HTML5, CSS3, BOOTSTRAP, SASS, LESS, Javascript, Java, JQuery, Nodejs, Expressjs, MySQL, Sequelize, Reactjs, MongoDB, Mongoose, Nightmare, AJAX, Firebase, Handlebars
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Travels<i class="glyphicon glyphicon-globe"></i>
                    </div>
                    <div class="panel panel-body" id="travels">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h3 id="travelsAbout"> I am an avid traveler and believe that my travels have given me a broader perspective on the world and how it works.
                                    By traveling I feel like I have become more adaptable to various situations, I can communicate with others more proficiently, and it has helped me further my education.
                                </h3>
                            </li>
                            <li class="list-inline-item">
                                <h4 id="nAmericaTitle">North America</h4>
                                Canada, U.S.A. (States) - Arizona, Arkansas, California, Colorado, Idaho, Illinois, Iowa, Kansas, Kentucky, Maryland, Minnesota, Missouri, Montana, Nebraska, Nevada, New Mexico, North Dakota, Oregon, South Dakota, Tennessee, Texas, Utah, Virginia, Washington, Washington D.C., Wyoming
                            </li>
                            <li class="list-inline-item">
                                <h4 id="europeTitle">Europe</h4>
                                Austria, Belgium, Bulgaria, Czech Republic, England, France, Germany, Greece, Hungary, Ireland, Italy, Monaco, Netherlands, Romania, Scotland, Spain, Switzerland, Vatican City
                            </li>
                            <li class="list-inline-item">
                                <h4 id="asiaTitle">Asia</h4>
                                China, Hong Kong, Japan, Macau, Philippines, Thailand, and Vietnam
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Languages<i class="glyphicon glyphicon-stats"></i>
                    </div>
                    <div class="panel panel-body" id="languages">
                        <ul class="list-inline">
                            <li class="list-inline-item" id="languagesList">
                                <h4 id="English">English - Native Language</h4>
                                <h4 id="German">German/Deutsch - B1/B2</h4>
                                <h4 id="French">French/Français - B1/B2</h4>
                                <h4 id="Chinese">Chinese/中文 - A1</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer blue-gradient-rgba">
        © Copyright 2019 Eric Willard
    </footer>
    </div>