<!--Start Nav-->
    <nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl sunny-morning-gradient">
        <a class="navbar-brand" href="/homeDE">Eric Willard</a>

        <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn btn-dark btn-large dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Seitennavigation
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortDE">Webentwicklung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceDE">Erfahrung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationDE">Ausbildung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoDE">Fotographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsDE">Fähigkeiten</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoDE">Video</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/about"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/aboutCN"><span class="flag-icon flag-icon-cn"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/aboutFR"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
    </ul>
        <!-- Links -->
        <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-home" href="/homeDE"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactDE"></a>
        </li>
    </ul>

    </nav>
    <!--End Navbar-->

    <!--Bio Section-->
    <div class="container-fluid">
        <div class="row main-content">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-5 col-lg-offset-1">
                <div class="panel panel-default" style="background-color: white; border: solid lightgray 1px;">
                    <div class="panel panel-header">Bio<i class="glyphicon glyphicon-user"></i>
                    </div>


                    <div class="panel panel-body">
                        <img class="img-responsive" id="mainSelfie" src="Images/FranceMeIrelandRV.jpg">
                        <p>
                            Ich komme ursprünglich aus Topeka, Kansas, bin aber seit einiger Zeit nicht mehr zu Hause. Von '04 -'14 lebte ich in den Gebieten Los Angeles und San Diego und besuchte die Universität. Während der Schulzeit und nach dem Abschluss habe ich in Berlin, Paris, und Hangzhou, China, gelebt. Im Dezember 16 kehrte ich nach Kansas zurück und kehrte anschließend nach China zurück, um ein Jahr lang Studenten der Softwaretechnik die Webentwicklung auf Englisch beizubringen. </p>

                        <p>
                            Zwei meiner Leidenschaften im Leben sind Reisen und Design. Fotografie spielt eine große Rolle in meinem kreativen Leben, und ich bin der Meinung, dass Design eine wichtige Möglichkeit ist, meine Kreativität zu nutzen und zum Ausdruck zu bringen. Webdesign und die grundlegende Fähigkeit, etwas aus dem Nichts zu erschaffen, inspirieren mich sehr.
                        </p>
                        <p>
                            Während meiner Auslandszeit habe ich 24 verschiedene Länder besucht
                             und 50 Großstädte. Ich kann relativ gut Französisch und Deutsch sprechen und arbeite derzeit daran, mein Chinesisch zu verbessern. Nach meinem Auslandsstudium habe ich mich mehr mit Fotografie beschäftigt
                             2011, und ich glaube, es hat meine Kreativität in diesem Prozess erweitert. Ich habe meine Fähigkeiten durch Übung und Ausdauer erweitert
                             und habe mehrere Preise für meine Arbeit gewonnen. Design im weiteren Sinne inspiriert mich nicht nur, sondern bringt mich dazu, immer wieder über neue Wege, Methoden und Einsichten in meine eigene Kreativität nachzudenken, von denen ich vorher nie wusste, dass es sie gibt. </p>

                    </div>
                </div>
            </div>
            <!--End Bio Section-->

            <!--Connect Panel-->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
                <!--Education Section-->
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Ausbildung<i class="glyphicon glyphicon-education"></i>
                    </div>
                    <div class="panel panel-body" id="education">
                        <ul class="list-inline">
                            <li class="list-inline-item" id="KU">
                                <h4 id="KUTitle">Universität von Kansas</h4>

                                Coding Boot Camp - Full-Stack-Webentwicklung
                                <br />
                                Juni 2017 - Mai 2018
                            </li>
                            <br />
                            <li class="list-inline-item" id="UCSD">
                                <h4 id="UCSDTitle">Die Universität von Kalifornien, San Diego</h4>

                                B.S. Political Science (Minor - International Relations)
                                <br />
                                September 2012 - August 2014
                            </li>
                            <br />
                            <li class="list-inline-item" id="FullColl">
                                <h4 id="FullCollTitle">Fullerton College</h4>

                                A.A. Filme/Radio/Fernsehen
                                <br />
                                Janjuar 2009 - Mai 2012
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Education Section-->

                <!--Beginning Experience-->
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Erfahrung<i class="glyphicon glyphicon-ok"></i>
                    </div>
                    <div class="panel panel-body" id="education">
                        <ul class="list-inline">
                            <li class="list-inline-item" id="KU">
                                <h4 id="KUTitle">Zhejiang University of Technology (浙江工业大学）</h4>

                                Universität Professor - Webentwicklung
                                <br />
                                Juni 2018 - Juni 2019
                                <br />
                                Ich formulierte, implementierte und verwaltete meinen eigenen Lehrplan, der die Grundlagen von HTML5, CSS3, Javascript und JQuery in englischer Sprache abdeckte. Meine Studenten hatten einen Schwerpunkt in Software-Engineering und daher war es wichtig, dass sie wesentliche Sprachkenntnisse sowohl in der Codierung als auch in der Kommunikation erlangten.
                            </li>
                            <br />
                            <li class="list-inline-item" id="UCSD">
                                <h4 id="UCSDTitle">Kansas Universität</h4>

                                48 Woche Bootcamp für Full-Stack-Codierung
                                <br />
                                Juni 2017 - Mai 2018
                                <br />
                                Im Verlauf des Programms haben wir wesentliche Elemente von Websites sowie ganze Websites, die auf diesen Elementen basieren, untersucht, genutzt und entwickelt. Das Programm war umfassend und fortschrittlich, so dass wir die Grundbausteine einer Website lernten und uns dann daran arbeiteten, ganze Websites unter Verwendung all dieser Elemente zusammen zu bauen.
                            </li>
                            <br />
                            <li class="list-inline-item" id="FullColl">
                                <h4 id="FullCollTitle">Fullerton College</h4>

                                2011 Berlin Study Abroad Program Werbevideo
                                <br />
                                Frühling 2011
                                <br />

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default" style="height: -webkit-fill-available;">
                    <div class="panel panel-header">
                        Webentwicklung<i class="glyphicon glyphicon-link"></i>
                    </div>
                    <div class="panel panel-body" id="codingLanguages">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h4 id="codingLanguagesHeader">Coding Languages/Skills</h4>
                                HTML5, CSS3, BOOTSTRAP, SASS, LESS, Javascript, Java, JQuery, Nodejs, Expressjs, MySQL, Sequelize, Reactjs, MongoDB, Mongoose, Nightmare, AJAX, Firebase, Handlebars
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Reisen<i class="glyphicon glyphicon-globe"></i>
                    </div>
                    <div class="panel panel-body" id="travels">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h3 id="travelsAbout"> I am an avid traveler and believe that my travels have given me a broader perspective on the world and how it works.
                                    By traveling I feel like I have become more adaptable to various situations, I can communicate with others more proficiently, and it has helped me further my education.
                                </h3>
                            </li>
                            <li class="list-inline-item">
                                <h4 id="nAmericaTitle">Nord Amerika</h4>
                                Kanada, USA (Bundesstaaten) - Arizona, Arkansas, Kalifornien, Colorado, Idaho, Illinois, Iowa, Kansas, Kentucky, Maryland, Minnesota, Missouri, Montana, Nebraska, Nevada, New Mexico, North Dakota, Oregon, South Dakota, Tennessee, Texas, Utah, Virginia, Washington, Washington D.C., Wyoming
                            </li>
                            <li class="list-inline-item">
                                <h4 id="europeTitle">Europe</h4>
                                Österreich, Belgien, Bulgarien, Tschechische Republik, England, Frankreich, Deutschland, Griechenland, Ungarn, Irland, Italien, Monaco, Niederlande, Rumänien, Schottland, Spanien, Die Schweiz, Vatikanstadt
                            </li>
                            <li class="list-inline-item">
                                <h4 id="asiaTitle">Asia</h4>
                                China, Hong Kong, Japan, Macau, Philippinen, Thailand, and Vietnam
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Sprachen<i class="glyphicon glyphicon-stats"></i>
                    </div>
                    <div class="panel panel-body" id="languages">
                        <ul class="list-inline">
                            <li class="list-inline-item" id="languagesList">
                                <h4 id="English">Englisch - Native Language</h4>
                                <h4 id="German">Deutsch - B1/B2</h4>
                                <h4 id="French">Franzözisch - B1/B2</h4>
                                <h4 id="Chinese">Chinesisch - A1</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer sunny-morning-gradient">
        © Eric Willard
    </footer>
    </div>