<!--Start Nav-->
    <nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl winter-neva-gradient">
        <a class="navbar-brand" href="/homeFR">Eric Willard</a>

        <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn winter-neva-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nav sur le Site
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortFR">Projets</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceFR">Expériences Professionelles</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationFR">Éducation</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoFR">La Photographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsFR">Compétences</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoFR">Vidéo</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/about"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/aboutCN"><span class="flag-icon flag-icon-cn"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/aboutDE"><span class="flag-icon flag-icon-de"></span></a>
        </li>
    </ul>
        <!-- Links -->
        <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-home" href="/homeFR"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactFR"></a>
        </li>
    </ul>

    </nav>
    <!--End Navbar-->

    <!--Bio Section-->
    <div class="container-fluid">
        <div class="row main-content">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-5 col-lg-offset-1">
                <div class="panel panel-default" style="background-color: white; border: solid lightgray 1px;">
                    <div class="panel panel-header">Bio<i class="glyphicon glyphicon-user"></i>
                    </div>


                    <div class="panel panel-body">
                        <img class="img-responsive" id="mainSelfie" src="Images/FranceMeIrelandRV.jpg">
                        <p>
                            Je suis originaire de Topeka, au Kansas, mais cela ne fait pas longtemps que je suis "chez moi". De 2004 à 2014, j'ai vécu et travaillé dans les universités de Los Angeles et de San Diego. Pendant mes études et après l'obtention de mon diplôme, j'ai vécu à Berlin, à Paris et à Hangzhou, en Chine. Je suis rentré au Kansas en décembre 16, puis en Chine pour passer une année à enseigner le développement Web en anglais à des étudiants en génie logiciel. </p>

                        <p>
                            Deux de mes passions dans la vie sont les voyages et le design. La photographie joue un rôle important dans ma vie créative et j'estime que le design est une avenue majeure dans laquelle je peux utiliser et exprimer ma créativité. Le design Web et la capacité de base de créer quelque chose à partir de rien m'inspire beaucoup.
                        </p>
                        <p>
                            Pendant mon séjour à l'étranger, j'ai réussi à visiter 24 pays différents
                             et 50 grandes villes. Je parle couramment le français et l'allemand et je travaille actuellement à améliorer mon chinois. Je suis devenu plus sérieux en photographie après mon programme d'études à l'étranger
                             en 2011, et je crois que cela a élargi mes compétences de créativité dans le processus. J'ai perfectionné mes compétences grâce à la pratique et à la persévérance
                             et ont remporté plusieurs prix pour mon travail. Le design au sens large est une chose qui ne m'inspire pas seulement mais qui me pousse à toujours penser à de nouvelles méthodes, méthodes et perspectives dans ma propre créativité, ce que je n'avais jamais vu auparavant. </p>

                    </div>
                </div>
            </div>
            <!--End Bio Section-->

            <!--Connect Panel-->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
                <!--Education Section-->
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Éducation<i class="glyphicon glyphicon-education"></i>
                    </div>
                    <div class="panel panel-body" id="education">
                        <ul class="list-inline">
                            <li class="list-inline-item" id="KU">
                                <h4 id="KUTitle">Université du Kansas</h4>

                                Codage Boot Camp - Développement Web Full-Stack
                                <br />
                                Juin 2017 - Mai 2018
                            </li>
                            <br />
                            <li class="list-inline-item" id="UCSD">
                                <h4 id="UCSDTitle">Université de Californie à San Diego</h4>

                                B.S. Science politique (mineure - relations internationales)
                                <br />
                                Septembre 2012 - Août 2014
                            </li>
                            <br />
                            <li class="list-inline-item" id="FullColl">
                                <h4 id="FullCollTitle">Fullerton Collège</h4>

                                A.A. Film / Radio / Télévision
                                <br />
                                Janvier 2009 - Mai 2012
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Education Section-->

                <!--Beginning Experience-->
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Expérience<i class="glyphicon glyphicon-ok"></i>
                    </div>
                    <div class="panel panel-body" id="education">
                        <ul class="list-inline">
                            <li class="list-inline-item" id="KU">
                                <h4 id="KUTitle">Université de technologie du Zhejiang</h4>

                                Professeur d'Université - Web Design
                                <br />
                                Juin 2018 - Juin 2019
                                <br />
                                J'ai formulé, mis en œuvre et géré mon propre programme couvrant les bases de HTML5, CSS3, Javascript et JQuery en anglais. Mes étudiants étaient spécialisés en génie logiciel et il était donc important pour eux d'acquérir des compétences linguistiques essentielles en codage et en communication.
                            </li>
                            <br />
                            <li class="list-inline-item" id="UCSD">
                                <h4 id="UCSDTitle">Université du Kansas</h4>

                                Bootcamp de codage en pile complète de 48 semaines
                                <br />
                                Juin 2017 - Mai 2018
                                <br />
                                Au cours du programme, nous avons étudié, utilisé et développé des éléments essentiels de sites Web, ainsi que des sites Web complets basés sur ces éléments. Le programme était complet et progressif, nous avons donc appris les éléments de base d’un site Web, puis nous avons construit des sites Web complets en utilisant tous ces éléments fonctionnant en collaboration.
                            </li>
                            <br />
                            <li class="list-inline-item" id="FullColl">
                                <h4 id="FullCollTitle">Fullerton Collège</h4>

                                Vidéo promotionnelle du programme d'études à l'étranger de Berlin 2011
                                <br />
                                Printemps 2011
                                <br />

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default" style="height: -webkit-fill-available;">
                    <div class="panel panel-header">
                        Développement Web<i class="glyphicon glyphicon-link"></i>
                    </div>
                    <div class="panel panel-body" id="codingLanguages">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h4 id="codingLanguagesHeader">Codage Langues / Compétences</h4>
                                HTML5, CSS3, BOOTSTRAP, SASS, LESS, Javascript, Java, JQuery, Nodejs, Expressjs, MySQL, Sequelize, Reactjs, MongoDB, Mongoose, Nightmare, AJAX, Firebase, Handlebars
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Voyages<i class="glyphicon glyphicon-globe"></i>
                    </div>
                    <div class="panel panel-body" id="travels">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h3 id="travelsAbout"> Je suis un passionné de voyages et je crois que mes voyages m'ont donné une perspective plus large du monde et de son fonctionnement.
                                     En voyageant, je sens que je suis devenu plus adaptable à diverses situations, je peux mieux communiquer avec les autres et cela m'a aidé à poursuivre mes études.
                                </h3>
                            </li>
                            <li class="list-inline-item">
                                <h4 id="nAmericaTitle">Amérique du Nord</h4>
                                Canada, États-Unis (États) - Arizona, Arkansas, Californie, Colorado, Idaho, Illinois, Iowa, Kansas, Kentucky, Maryland, État du Minnesota, Missouri, Montana, Nebraska, Nevada, Nouveau-Mexique, Dakota du Nord, Oregon, Dakota du Sud, Tennessee, Texas, Utah, Virginie, Washington, Washington DC, Wyoming
                            </li>
                            <li class="list-inline-item">
                                <h4 id="europeTitle">L'Europe</h4>
                                Autriche, Belgique, Bulgarie, République tchèque, Angleterre, France, Allemagne, Grèce, Hongrie, Irlande, Italie, Monaco, Pays-Bas, Roumanie, Écosse, Espagne, Suisse, Cité du Vatican
                            </li>
                            <li class="list-inline-item">
                                <h4 id="asiaTitle">Asie</h4>
                                Chine, Hong Kong, Japon, Macao, Philippines, Thaïlande et Vietnam
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel panel-header">
                        Langues<i class="glyphicon glyphicon-stats"></i>
                    </div>
                    <div class="panel panel-body" id="languages">
                        <ul class="list-inline">
                            <li class="list-inline-item" id="languagesList">
                                <h4 id="English">Anglais - Native Language</h4>
                                <h4 id="German">Allemand - B1/B2</h4>
                                <h4 id="French">Français - B1/B2</h4>
                                <h4 id="Chinese">Chinois - A1</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer winter-neva-gradient">
        © Copyright 2019 Eric Willard
    </footer>
    </div>