 <nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl danger-color">
        <a class="navbar-brand" href="/homeCN">艾瑞克 - 联系</a>

        <!-- Social Media Contact Links-->
        <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn peach-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        网站导航
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortCN">Web开发</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceCN">经历</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationCN">教育</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoCN">摄影</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsCN">技能</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoCN">视频</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contact"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contactDE"><span class="flag-icon flag-icon-de"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contactFR"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
    </ul>
        <!-- Links -->
        <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
            <li class="nav-item list-item-inline">
                <a class="nav-link glyphicon glyphicon-home" href="/homeCN"></a>
            </li>
            <li class="nav-item list-item-inline">
                <a class="nav-link glyphicon glyphicon-envelope" href="/contactCN">
                </a>
            </li>
            <li class="nav-item list-item-inline">
                <a class="nav-link glyphicon glyphicon-book" href="/aboutCN"></a>
            </li>
        </ul>
        <!-- links -->
        
    </nav>
    <div class="container-fluid">
        <!-- <div class="row main-content"> -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-5 col-lg-offset-1">
            <div class="panel panel-default" style="background-color: white; border: solid lightgray 1px;">
                <div class="panel panel-header text-center" style="color: #00b8e6;">联络<i class="glyphicon glyphicon-envelope"></i></div>
                <div class="panel panel-body">

                    <!-- Form contact -->
                    <form action="MAILTO:ewill2020@gmail.com" method="post" enctype="text/plain">
                        <div class="form-group">
                            <label for="form3">名称</label>
                            <input type="text" name="name" id="form3" class="form-control">

                        </div>

                        <div class="form-group">
                            <label for="form2">电子邮件地址</label>

                            <input type="text" id="form2" name="mail" class="form-control">

                        </div>

                        <div class="form-group">
                            <label for="form34">标题</label>
                            <input type="text" id="form32" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="form8">信息</label>
                            <br>
                            <textarea type="text" id="form8" name="message" class="md-textarea" style="height: 100px"></textarea>

                        </div>

                        <div class="send">
                            <button type="submit" class="btn btn-info">提交</button>
                        </div>

                    </form>
                    <!-- Form contact -->
                </div>
            </div>
        </div>
    </div>
    <footer class="footer danger-color">
        © 艾瑞克
    </footer>