<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl sunny-morning-gradient">
    <a class="navbar-brand" href="/homeDE">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn btn-dark btn-large dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Seitennavigation
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortDE">Webentwicklung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceDE">Erfahrung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoDE">Fotographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsDE">Fähigkeiten</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoDE">Video</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/education"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/educationCN"><span class="flag-icon flag-icon-cn"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/educationFR"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-home" href="/homeDE"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactDE"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-book" href="/aboutDE"></a>
        </li>
    </ul>
    <!-- End Nav & lang links-->

</nav>

<!--End Navbar-->

<!--Education History Panels-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Left Column Panel-->
            <!--Kansas University-->
            <div class="card" style="max-width: 100%; max-height:100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../Images/jayhawklogo.jpg">
                <div class="card-title">
                    Kansas Universität
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li>Coding Boot Camp</li>
                        <li>Juni 2017-Mai 2018</li>
                        <li>
                            Intensives 52-wöchiges Full-Stack-Codierungsprogramm, das den Schülern Kenntnisse in einer Vielzahl von Codierungssprachen sowie ständige praktische Erfahrung beim Erstellen eigener Web-Apps vermittelt.
                        </li>
                        <ul>
                </div>
            </div>
        </div>
        <!--End KU Panel-->

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Middle Column Panel-->
            <!--Start UCSD Panel-->
            <div class="card" style="max-width: 100%; max-height:100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="ucsdlogo" src="../Images/UCSD-logo.png">
                <div class="card-title">
                    Universität von Kalifornien San Diego
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li>Bachelor of Arts</li>
                        <li>September 2012-August 2014</li>
                        <li>Mein Studium an der UCSD bestand hauptsächlich aus Sprachen, Geschichte und Politik. Ich habe während meiner Amtszeit an der UCSD Deutsch und Französisch studiert und auch eine geringfügige Zertifizierung in internationalen Beziehungen erhalten.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End UCSD Panel-->
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Right Column Panel-->
            <!--Start Fullerton College Panel-->
            <div class="card" style="max-width: 100%; max-height:100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="fullcolllogo" src="../Images/fullcolllogo.jpg">
                <div class="card-title">
                    Fullerton Universität
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li>Associate in Arts in Film</li>
                        <li>Janjuar 2009-Mai 2012</li>
                        <li>Am Fullerton College war ich stolz darauf, während 2/3 meines Studiums an der Institution sowohl den Status eines Präsidenten als auch eines Dekans zu erhalten. Ich habe Film studiert, aber auch Deutsch, Französisch und Spanisch studiert und im Alleingang ein Video produziert, um die Abteilung für Auslandsstudien zu promoten. In den folgenden Jahren habe ich sowohl in Paris, Frankreich als auch in Berlin, Deutschland, studiert, was meine Sprachkenntnisse stärkte und mir ein besseres Verständnis für die fremde Kultur verschaffte.</li>
                    </ul>
                </div>
            </div>
            <!--End Fullerton College Panel--> 
        </div>
    </div>
</div>
<footer class="footer sunny-morning-gradient">
    © Eric Willard
</footer>