<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl danger-color">
    <a class="navbar-brand" href="/homeCN">艾瑞克 - 教育</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn peach-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        网站导航
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortCN">Web开发</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceCN">经历</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoCN">摄影</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsCN">技能</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoCN">视频</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contact"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contactDE"><span class="flag-icon flag-icon-de"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contactFR"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-home" href="/homeCN"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactCN"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-book" href="/aboutCN"></a>
        </li>
    </ul>
    <!-- End Nav & lang links-->

</nav>

<!--End Navbar-->

<!--Education History Panels-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Left Column Panel-->
            <!--Kansas University-->
            <div class="card" style="max-width: 100%; max-height:100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../Images/jayhawklogo.jpg">
                <div class="card-title">
                    Kansas Universität
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li>Coding Boot Camp</li>
                        <li>Juni 2017-Mai 2018</li>
                        <li>Intensive 52 week full-stack coding program designed to give students knowledge on a vast array of coding languages as well as constant hands-on experience building their own web apps.</li>
                        <ul>
                </div>
            </div>
        </div>
        <!--End KU Panel-->

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Middle Column Panel-->
            <!--Start UCSD Panel-->
            <div class="card" style="max-width: 100%; max-height:100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="ucsdlogo" src="../Images/UCSD-logo.png">
                <div class="card-title">
                    Universität von Kalifornien San Diego
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li>Bachelor of Arts</li>
                        <li>September 2012-August 2014</li>
                        <li>My studies at UCSD consisted heavily of languages, history, and politics. I studied German and French throughout my tenure at UCSD while also obtaining a minor certification in international relations.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End UCSD Panel-->
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Right Column Panel-->
            <!--Start Fullerton College Panel-->
            <div class="card" style="max-width: 100%; max-height:100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="fullcolllogo" src="../Images/fullcolllogo.jpg">
                <div class="card-title">
                    Fullerton Universität
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li>Associate in Arts in Film</li>
                        <li>Janjuar 2009-Mai 2012</li>
                        <li>Am Fullerton College war ich stolz darauf, während 2/3 meines Studiums an der Institution sowohl den Status eines Präsidenten als auch eines Dekans zu erhalten. Ich habe Film studiert, aber auch Deutsch, Französisch und Spanisch studiert und im Alleingang ein Video produziert, um die Abteilung für Auslandsstudien zu promoten. In den folgenden Jahren habe ich sowohl in Paris, Frankreich als auch in Berlin, Deutschland, studiert, was meine Sprachkenntnisse stärkte und mir ein besseres Verständnis für die fremde Kultur verschaffte.</li>
                    </ul>
                </div>
            </div>
            <!--End Fullerton College Panel--> 
        </div>
    </div>
</div>
<footer class="footer danger-color">
    © 艾瑞克
</footer>