<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl sunny-morning-gradient">
    <a class="navbar-brand" href="/homeDE">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn btn-dark btn-large dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Seitennavigation
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortDE">Webentwicklung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationDE">Ausbildung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoDE">Fotographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsDE">Fähigkeiten</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoDE">Video</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/experience"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/experienceCN"><span class="flag-icon flag-icon-cn"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/experienceFR"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-home" href="/homeDE"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactDE"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-book" href="/aboutDE"></a>
        </li>
    </ul>
    <!-- End Nav & lang links-->
</nav>
<!--End Navbar-->

<!--Start Top Row-->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="zjutlogo" src="../Images/zjutlogo.png">
                    <div class="card-title">
                        Technische Universität von Zhejiang/浙江工业大学
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li>Professor für Englisch und Webentwicklung</li>
                                <li>Mai 2018-Mai 2019</li>
                                <li>Insgesamt habe ich 160 Studenten die Grundlagen der Webentwicklung auf Englisch beigebracht. Die behandelten Sprachen waren hauptsächlich HTML5, CSS3, Javascript und JQuery. Für die Schüler war es wichtig, gleichzeitig sowohl das Kodieren als auch die Grundkenntnisse des Englischen zu erlernen, da man nicht auf Chinesisch kodieren kann.
                                </li>
                            </ul>
                        </div>
            </div>
        </div>
        <!--End Zhejiang University Panel-->

        <!--Start KU Panel-->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../Images/jayhawklogo.jpg">
                    <div class="card-title">
                        Universität von Kansas
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li>Student - Full-Stack-Webentwicklungsprogramm</li>
                                <li>Juni 2017-Mai 2018</li>
                                <li>
                                    Dieses Programm bestand aus ungefähr 52 Wochen, in denen die Grundlagen der Full-Stack-Webentwicklung erlernt wurden. Im Verlauf des Kurses bauten die Studenten auf dem Gelernten auf und unsere Projekte wurden immer komplexer. Neben einem regulären Programmierprogramm hatten wir bereits vor Kursende mehrere Einzel- und Gruppenprojekte abgeschlossen, um möglichst praxisnahe Erfahrungen zu sammeln.
                                </li>
                            </ul>
                        </div>
            </div>
        </div>
        <!--End KU Panel-->
    </div>
</div>
<footer class="footer sunny-morning-gradient">
    © Eric Willard
</footer>