
<div id="content"
<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl navbar-dark green-gradient">
    <!-- <div class="container"> -->
    <a class="navbar-brand" href="/home">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-between mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto list-inline">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/popDestinations">Home</a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
</nav>
<!--End Navbar-->

<!--Nav Panels-->
<div class="container-fluid">
    <div class="row top-panels">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

            <!--Left Column Top-->
            <!--Web Development-->
            <a href="/webPort">
            <div class="card WebDevSS" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top" id="WebDevSS" src="Images/clicktripUI.png">
                    <div class="card-body">
                        <p id="card-text">Web Development<i class="glyphicon glyphicon-globe"></i></p>
                    </div>
            </div></a>

        </div>
        <!--End Web Development Column-->
        <!--End Left Column Top-->

        <!--Middle Columm Top-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

            <!--Experience-->
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;"><a href="/experience">
                    <img class="card-img-top" id="experiencePic" src="Images/CNBacktoSchool1.jpg">
                    <div class="card-body">
                        <p id="card-text">Experience<i class="glyphicon glyphicon-ok"></i></p>
                    </div>
            </div></a>
            <!--End Experience-->

            <!--End Left Column Top-->

        </div>
        <!--End Middle Column-->

        <!--Right Column-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <!--Education-->
            <a href="/education">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top" id="gradPic" src="Images/Graduation-UCSD-Me.jpg">
                    <div class="card-body">
                        <p id="card-text">Education<i class="glyphicon glyphicon-education"></i></p>
                    </div>
            </div></a>
            <!--End Education-->
        </div>
        <!--End Right Column-->
    </div>
    <!--Bottom Row-->
    <div class="row bottom-panels">
        <div class="col-xs-offset-3 col-offset-sm-3 col-offset-md-3 col-offset-lg-3 col-xl-3">

            <!--Photography Panel-->
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;"><a href="/photo">
                    <img class="card-img-top" id="meShooting" src="Images/FranceMeIrelandRV.jpg">
                    <!-- <div class="panel panel-header">
                    </div> -->
                    <div class="card-body">
                        <p id="card-text">Photography<i class="glyphicon glyphicon-camera"></i></p>
                    </div>
            </div></a>
            <!--End Photography-->
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

            <!--Skills Panel-->
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;"><a href="/skills">
                    <img class="card-img-top" id="skillsPic" src="Images/skillsPic.jpg">

                    <div class="card-body">
                        <p id="card-text">Skills<i class="glyphicon glyphicon-star"></i></p>
                    </div>
            </div></a>
            <!--End Skills Panel-->
        </div>


        <!--Video Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <!--Video Panel-->
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width: -webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/rEEGPJSIeHE" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-body">
                        <p id="card-text">Video<i class="glyphicon glyphicon-facetime-video"></i></p>
                    </div>
            </div></a>
            <!--End Video Panel-->
        </div>
    </div>
</div>
</div>
<footer class="footer">
    © Copyright 2019 Eric Willard
</footer>