<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl aqua-gradient-rgba">
    <a class="navbar-brand" href="/home">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-between mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!--Language Links-->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link flag-icon-US" href="/home"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link flag-icon-FR" href="/homeFR"></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-home" href="/home"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactDE">Kontakte</a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-book" href="/aboutDE">Biografie</a>
        </li>
    </ul>
</nav>
<!--End Navbar-->

<!--Nav Panels-->
<div class="container-fluid">
    <div class="row top-panels">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Left Column Top-->
            <!--Web Development-->
            <a href="/webPort">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top" id="WebDevSS" src="../Images/clicktripUI.png">
                    <div class="card-title">
                        <p id="card-text">Webentwicklung<i class="glyphicon glyphicon-globe"></i></p>
                    </div>
            </div></a>

        </div>
        <!--End Web Development Column-->
        <!--End Left Column Top-->

        <!--Middle Columm Top-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Experience-->
            <a href="/experience">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top" id="experiencePic" src="../Images/CNBacktoSchool1.jpg">
                    <div class="card-title">
                        <p id="card-text">Erfahrung<i class="glyphicon glyphicon-ok"></i></p>
                    </div>
            </div></a>
            <!--End Experience-->

            <!--End Left Column Top-->

        </div>
        <!--End Middle Column-->

        <!--Right Column-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <!--Education-->
            <a href="/education">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top" id="gradPic" src="../Images/Graduation-UCSD-Me.jpg">
                    <div class="card-title">
                        <p id="card-text">Ausbildung<i class="glyphicon glyphicon-education"></i></p>
                    </div>
            </div></a>
            <!--End Education-->
        </div>
        <!--End Right Column-->
    </div>
    <!--Bottom Row-->
    <div class="row bottom-panels">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Photography Panel-->
            <a href="/photo">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top" id="meShooting" src="../Images/FranceMeIrelandRV.jpg">
                    <!-- <div class="panel panel-header">
                    </div> -->
                    <div class="card-title">
                        <p id="card-text">Fotographie<i class="glyphicon glyphicon-camera"></i></p>
                    </div>
            </div></a>
            <!--End Photography-->
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Skills Panel-->
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;"><a href="/skills">
                    <img class="card-img-top" id="skillsPic" src="../Images/skillsPic.jpg">

                    <div class="card-title">
                        <p id="card-text">Fähigkeiten<i class="glyphicon glyphicon-star"></i></p>
                    </div>
            </div></a>
            <!--End Skills Panel-->
        </div>


        <!--Video Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <!--Video Panel-->
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width: -webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/rEEGPJSIeHE" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Video<i class="glyphicon glyphicon-facetime-video"></i></p>
                    </div>
            </div></a>
            <!--End Video Panel-->
        </div>
    </div>
</div>
<footer class="footer aqua-gradient-rgba">
    © Copyright 2019 Eric Willard
</footer>