<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl blue-gradient-rgba">
    <a class="navbar-brand" href="/home">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/photoDE"><span class="flag-icon flag-icon-de"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/photoFR"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-home" href="/home"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contact"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-book" href="/about"></a>
        </li>
    </ul>
    <!-- End Nav & lang links-->
</nav>

<!--End Navbar-->
<div class="container-fluid">
    <div class="row" style="margin-bottom: 315px;">

        <!--Shellhaus Photo-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="shellHausInfo">
                    <img class="card-img-top img-fluid" id="shellHaus" src="../Images/BerlinShellhausdoneOrange2.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                The "Shell-Haus" in Berlin with some changed colors and modified in a way that makes it take on a completely different identity.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Shell-Haus
                </div>
            </div>
        </div>
        <!--End Shellhaus Panel-->

        <!--Start HK Night Lights-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="HKLightsInfo">
                    <img class="card-img-top img-fluid" id="HKLights" src="../Images/CNHKNightStreaks.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                Busy criss-crossing streets in Hong Kong at night provide for a beautiful setting of streaks and skyscrapers.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Streaks & Skyscrapers
                </div>
            </div>
        </div>
        <!--End HK Lights Panel-->

        <!--Start Die Welle-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="DieWelleInfo">
                    <img class="card-img-top img-fluid" id="DieWelle" src="../Images/DEDieWelle2.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                An office building in Hamburg, Germany known as "Die Welle" (The Wave).  It was a beautiful and interesting building to photograph and easily missed if one doesn't know its location.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Die Welle
                </div>
            </div>
        </div>
        <!--End Die Welle Panel-->

        <!--Start Amsterdam Canal-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="SingelInfo">
                    <img class="card-img-top img-fluid" id="Singel" src="../Images/NLAmsterdamCanalScape2.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                An area in Amsterdam known as "Singel" and is near the heart of the city.  The colors at night along with the houseboats and reflection from the canal are simply awesome.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Singel Canalscape
                </div>
            </div>
        </div>
        <!--End Amsterdam Panel-->

    </div>

    <!--Start New (2nd) Row-->
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -290px">

        <!--Start Red Hat girl Panel-->
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover Description-->
            <div class="view overlay" id="redHatDesc">
                <img class="card-img-top img-fluid" id="redHat" src="../Images/KoreanHat.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A friend of mine with her back turned to the camera wearing a bright red hat.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Chapeau Rouge
            </div>
        </div>
        </div>
        <!--End Red Hat Girl Panel-->

        <!--Start Horseshoe Canyon Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="HorseshoeInfo">
                    <img class="card-img-top img-fluid" id="HorseShoe" src="../Images/AZHSBHDR.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                Located near the famous Antelope Canyon this spot is known as Horseshoe Bend in northern Arizona.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Horseshoe Bend
                </div>
            </div>
        </div>
        <!--End Horseshoe Canyon Panel-->

        <!--Start Tron Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -325px">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="TronInfo">
                    <img class="card-img-top img-fluid" id="Tron" src="../Images/CNTron.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                A building named the "White Horse Convention Center" in Hangzhou, China is illuminated in a way that invokes memories of the movie Tron.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Tron
                </div>
            </div>
        </div>
        <!--End Tron Panel-->

        <!--Start Washing Machine-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -325px">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="KanzleramtInfo">
                    <img class="card-img-top img-fluid" id="Kanzler" src="../Images/BerlinWashingMachineRV.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                The Bundeskanzleramt in Berlin, Germany where the Chancellor of Germany works.  This part of the building is known as the "Washing Machine" due to its circular nature.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    The Washing Machine
                </div>
            </div>
        </div>
        <!--End Washing Machine Panel-->
    </div>
    <!--End 2nd Row-->

    <!--Start 3rd row-->
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -240px;">

        <!--Start Groningen Panel-->
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover Description-->
            <div class="view overlay" id="GroningenDesc">
                <img class="card-img-top img-fluid" id="Groningen" src="../Images/NLGroningenColors1.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            Some colored houses with a great reflection near a shopping mall in the small Dutch city of Groningen.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Groningen Kleuren
            </div>
        </div>
        </div>
        <!--End Groningen Panel-->

        <!--Start Macau Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -50px;">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="MacauInfo">
                    <img class="card-img-top img-fluid" id="Macau" src="../Images/MacauGreenTwist.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                A random apartment building in Macau taken in a vertical panorama style causing the edges to extrude a bit.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Green Twist
                </div>
            </div>
        </div>
        <!--End Macau Panel-->

        <!--Start Crucifix Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -385px;">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="CrucifixInfo">
                    <img class="card-img-top img-fluid" id="Crucifix" src="../Images/MacauFlyingCrucifix3.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                Another random apartment building shot from inside the courtyard in Macau.  The buildings above looked very interesting and seem to form a crucifix.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Flying Crucifix
                </div>
            </div>
        </div>
        <!--End Crucifix Panel-->

        <!--Start Sand Dunes-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -135px;">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="DunesInfo">
                    <img class="card-img-top img-fluid" id="Dunes" src="../Images/COSandDunesBeerBackpack.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                A photo of my camera backpack with traveling beer at the Great Sand Dunes outside of Alamosa, Colorado.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Beer, Backpack, and Dunes
                </div>
            </div>
        </div>
        <!--End Dunes Panel-->
    </div>
    <!--End 3rd Row-->
</div>
<footer class="footer blue-gradient-rgba">
    © Eric Willard
</footer>