<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl blue-gradient-rgba">
    <a class="navbar-brand" href="/home">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-between mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/home">Home
            </a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
    
</nav>

<!--End Navbar-->
<div class="container-fluid">
    <div class="row">

        <!--Shellhaus Photo-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="shellHausInfo">
                    <img class="card-img-top img-fluid" id="shellHaus" src="../Images/BerlinShellhausdoneOrange2.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                The "Shell-Haus" in Berlin with some changed colors and modified in a way that makes it take on a completely different identity.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Shell-Haus
                </div>
            </div>
        </div>
        <!--End Shellhaus Panel-->

        <!--Start HK Night Lights-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="HKLightsInfo">
                    <img class="card-img-top img-fluid" id="HKLights" src="../Images/CNHKNightStreaks.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                Busy criss-crossing streets in Hong Kong at night provide for a beautiful setting of streaks and skyscrapers.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Streaks & Skyscrapers
                </div>
            </div>
        </div>
        <!--End HK Lights Panel-->

        <!--Start Die Welle-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="DieWelleInfo">
                    <img class="card-img-top img-fluid" id="DieWelle" src="../Images/DEDieWelle2.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                An office building in Hamburg, Germany known as "Die Welle" (The Wave).  It was a beautiful and interesting building to photograph and easily missed if one doesn't know its location.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Die Welle
                </div>
            </div>
        </div>
        <!--End Die Welle Panel-->

        <!--Start Amsterdam Canal-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="SingelInfo">
                    <img class="card-img-top img-fluid" id="Singel" src="../Images/NLAmsterdamCanalScape2.jpg">
                        <div class="mask flex-center rgba-blue-strong">
                            <p class="white-text">
                                An area in Amsterdam known as "Singel" and is near the heart of the city.  The colors at night along with the houseboats and reflection from the canal are simply awesome.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Singel Canalscape
                </div>
            </div>
        </div>
        <!--End Amsterdam Panel-->

    </div>

    <!--Start New (2nd) Row-->



</div>



<footer class="footer blue-gradient-rgba">
    © Copyright 2019 Eric Willard
</footer>