<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl sunny-morning-gradient">
    <a class="navbar-brand" href="/homeDE">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

    <!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn btn-light btn-large dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Seitennavigation
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortDE">Webentwicklung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceDE">Erfahrung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationDE">Ausbildung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoDE">Fotographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoDE">Video</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/skills"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/skillsFR"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-home" href="/homeDE"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactDE"></a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link glyphicon glyphicon-book" href="/aboutDE"></a>
        </li>
    </ul> 
</nav>
<!--End Navbar-->
<div class="container-fluid" style="margin-top: 0px;">
    <div class="row" style="max-height: 220px;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/html.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/cssicon2.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/javascripticon.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/jqueryicon.jpg"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/mysqlicon.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/sequelizeicon.png"> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/illustratoricon.jpg">
            </div> 
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/photoshopicon.png">
            </div> 
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/premiereicon.png">
            </div> 
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/aftereffectsicon.png">
            </div> 
        </div>
    </div>
    <div class="row" style="max-height: 220px;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/ExpressJSicon.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/reacticon.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/javaicon.jpg"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/firebaseicon.jpg"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/phpicon.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/nodeicon.png"> 
            </div>
        </div>
    </div>

    <div class="row" style="max-height: 220px;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/pythonicon.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/rubyonrailsicon.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/sassicon.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/handlebarsicon.png"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/mongodbicon.jpg"> 
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" src="../Images/lessicon.jpg"> 
            </div>
        </div>
    </div>
</div>
<footer class="footer sunny-morning-gradient">
    © Eric Willard
</footer>