<div class="container-fluid">
<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl navbar-dark green-gradient">
    <!-- <div class="container"> -->
    <a class="navbar-brand" href="/home">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-between mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="Images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="Images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="Images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="Images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="Images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="Images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="Images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>

    <!-- Links -->
    <ul class="navbar-nav navbar-right list-inline">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/home">Home
            </a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
    </div>
</nav>
</div>
<!--End Navbar-->

<!-- Nav Panels-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

        <!--Left Column Panel-->
        <!--The Adaptive Traveler-->
        <a href="https'//the-adaptive-traveler.herokuapp.com">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;>
                <img class="card-img-top" id="clickTrip" src="../Images/taticon.png">
                <div class="card-body">
                <p id="card-text">The Adaptive Traveler</p>
                </div>
            </div></a>
        </div>
        <!--End Left Column Panel-->

        <!--Start Middle Column Panel-->
        <!--Click Trip-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
        <a href="https://ewill20.github.io/clicktrip/">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
            <img class="card-img-top" id="clicktripUI.png" src="../Images/clicktripUI.png">
            <div class="card-body">
                <p id="card-text">clickTrip</p>
                </div>
            </div></a>
        </div>











<footer class="footer">
    © Copyright 2019 Eric Willard
</footer>