<div class="container-fluid">
<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl navbar-dark green-gradient">
    <!-- <div class="container"> -->
    <a class="navbar-brand" href="/home">Eric Willard</a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>

    <!-- Links -->
    <ul class="navbar-nav navbar-right list-inline">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/home">Home
            </a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
    </div>
</nav>
</div>
<!--End Navbar-->





<footer class="footer">
    © Copyright 2019 Eric Willard
</footer>